.ct-ui-action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ct-ui-action-bar__start,
.ct-ui-action-bar__end {
  display: flex;
  align-items: center;
  gap: inherit;
}
